button{
    background-color: yellowgreen;
    color: #fff;
}
#para1{
    color: aqua;
}
#para2{
    color: blueviolet;
}
.content{
    color: rebeccapurple;
    background-color: tomato;
}
.outer-box{
    border: solid 5px;
    width: 300px;
    height: 200px;
    background-color:blue;
   color: black;

}
.box{
    margin-left: 100px;
    padding-left: 50px;
}
.inner-div{
    margin: 10px;
    background-color: aquamarine;
    width: 200px;
    height: 100px; 

    
}